*~
*.a
*.la
*.diff
*.dll*
*.exe
*.mo
*.o
*.lo
*.pc
*.pot
*.so*
.*.swp
.depend
.deps
.libs
.dirstamp
config.h
config.h.in
config.mak
config.log
x264
checkasm

*.264
*.2pass
*.mkv
*.mp4
*.y4m
*.yuv
x264_2pass.log
stamp-h1
stamp-h2
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/libtool
/config.status
